# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: equivalent to integers in sql

Strings: equivalent to varchar in sql

Lists: collection of different elements, can be modified

Tuples: similar to lists but cannot be modified, immutable (?)

Dictionaries: list of key pairs

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
1 * 1 / 1 * 1**1 + 100.25 - 1

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [ ]:
2/3 ##in Python 2 this divisor will return a numeric value which is the nearest whole integer. We need to either convert
## it to a float first or

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) 44
    
    What is the value of the expression 4 * 6 + 5 29
    
    What is the value of the expression 4 + 6 * 5 50

What is the *type* of the result of the expression 3 + 1.5 + 4?

Float

What would you use to find a numberâ€™s square root, as well as its square?

In [14]:
a = 2**2
b = 4**(0.5)

In [15]:
print(a)
print(b)

4
2.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [16]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using indexing:

In [24]:
s ='hello'

# Reverse the string using indexing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [27]:
s ='hello'

s[-1]

s[:][-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [33]:
l = [0,0,0]
l = list('0'*3)
print(l)

['0', '0', '0']

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [36]:
l = [1,2,[3,4,'hello']]
l[2][2]='goodbye'
print(l)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [37]:
l = [3,4,5,5,6]
l.sort()
print(l)

[3, 4, 5, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [38]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [39]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [45]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [48]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not?

You cannot sort a dictionary because it is a collection of key pairs.

## Tuples

What is the major difference between tuples and lists?

Lists can be modified whereas tuples are immutable (sp?)

How do you create a tuple?

t = ('insert','values')

## Sets

What is unique about a set?

A set is unique because it only displays unique values. This is useful for eliminating duplicates in a list

Use a set to find the unique values of the list below:

In [ ]:
l = [1,2,2,33,4,4,11,22,3,3,2]

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [49]:
# Answer before running cell
## This will be false
2 > 3

False

In [50]:
# Answer before running cell
## False
3 <= 2

False

In [51]:
# Answer before running cell
##False
3 == 2.0

False

In [52]:
# Answer before running cell
##True
3.0 == 3

True

In [53]:
# Answer before running cell
##False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [54]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
##False l_oone[2[0] = 3 k1 =4
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!